<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
        </intent>
    </queries>

    <application
        android:name=".AmarokApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.Amarok"
        tools:ignore="AllowBackup,MissingTvBanner">

        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name=".launcher.calendar"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_calendar"
            android:label="@string/app_name_calendar"
            android:targetActivity=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".launcher.default"
            android:enabled="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:targetActivity=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".ui.settings.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.settings.SwitchFileHiderActivity"
            android:exported="false" />
        <activity
            android:name=".ui.settings.ObfuscateFileHiderSettingsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.settings.SwitchAppHiderActivity"
            android:exported="false" />
        <activity
            android:name=".ui.SetHideFilesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.SetHideAppActivity"
            android:exported="false" />
        <activity
            android:name=".ui.CalendarActivity"
            android:exported="false"
            android:theme="@style/Theme.Calculator" />
        <activity
            android:name=".ui.SecurityAuthActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:noHistory="true" />
        <activity
            android:name=".ui.SecurityAuthForQSActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:noHistory="true"
            android:theme="@style/Theme.Amarok.Transparent" />
        <activity
            android:name=".ui.DsmActivationActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:noHistory="true"
            android:theme="@style/Theme.Amarok.Transparent" />

        <service
            android:name=".QSTileService"
            android:exported="true"
            android:icon="@drawable/ic_paw"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter android:exported="true">
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>

            <meta-data
                android:name="android.service.quicksettings.ACTIVE_TILE"
                android:value="true" />
        </service>
        <service
            android:name=".QuickHideService"
            android:exported="false"
            android:foregroundServiceType="specialUse">
            <property
                android:name="deltazero.amarok.SPECIAL_USE_QUICK_HIDE"
                android:value="For the display of a system-wide panic button" />
        </service>
        <service
            android:name="androidx.appcompat.app.AppLocalesMetadataHolderService"
            android:enabled="false"
            android:exported="false">
            <meta-data
                android:name="autoStoreLocales"
                android:value="true" />
        </service>

        <receiver
            android:name=".receivers.AdminReceiver"
            android:exported="true"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
                <action android:name="android.app.develop.action.DEVICE_DELEGATION" />
            </intent-filter>

            <meta-data
                android:name="android.app.develop.delegation"
                android:resource="@xml/app_delegation" />
        </receiver>
        <receiver
            android:name=".receivers.ActionReceiver"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="deltazero.amarok.HIDE" />
                <action android:name="deltazero.amarok.UNHIDE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".widget.ToggleWidget"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="deltazero.amarok.widget.ACTION_TOGGLE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/toggle_widget_info" />
        </receiver>
        <receiver
            android:name=".receivers.DialerReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.provider.Telephony.SECRET_CODE" />
                <!-- 262765 is AMAROK in T9 -->
                <data
                    android:host="262765"
                    android:scheme="android_secret_code" />
            </intent-filter>
        </receiver>

        <provider
            android:name="rikka.shizuku.ShizukuProvider"
            android:authorities="${applicationId}.shizuku"
            android:enabled="true"
            android:exported="true"
            android:multiprocess="false"
            android:permission="android.permission.INTERACT_ACROSS_USERS_FULL" />

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="@string/xposed_desc" />
        <meta-data
            android:name="xposedminversion"
            android:value="93" />
        <meta-data
            android:name="xposedscope"
            android:value="android" />

    </application>

</manifest>